In [1]:
import pandas as pd
import requests

In [2]:
selected_ticker = 'XOM'

In [3]:
data = pd.DataFrame(pd.date_range(start='2010-01-01', end='2021-02-28', closed=None), columns=['Date'])
print(data.shape)
data.head(2)

(4077, 1)

        Date
0 2010-01-01
1 2010-01-02

In [4]:
path_stock = '../full_dataset/stock_closing_nyse.csv'
path_sentiment_global = '../full_dataset/news-sentiment-index_global.csv' # keyword: exxon, oil, gas
path_sentiment_finance = '../full_dataset/news-sentiment-index_finance.csv' # keyword: exxon, oil, gas
path_stock_index = '../full_dataset/stock_index.csv'
path_price_commodity = '../full_dataset/price_commodity.csv' # filter: crude, gasoline, settle price
path_interest_rate = '../full_dataset/interest_rate.csv' # filter: monthly, exclude forecast
path_inventory_outlook = '../full_dataset/inventory_outlook.csv' # filter: crude, Us, monthly
path_jodi_demand = '../full_dataset/jodi_demand.csv' # filter: jodi, demand
path_mobility_apple = '../full_dataset/mobility_apple.csv' # filter: US, sub-region
path_mobility_google = '../full_dataset/mobility_google.csv' # filter: US

In [5]:
stock_nyse = pd.read_csv(path_stock, parse_dates=['Date Value'])
stock = stock_nyse[stock_nyse.Ticker == selected_ticker][['Date Value','Value']].rename(columns={'Value':'stock_closing_usd', 'Date Value':'Date'}).sort_values('Date')

sentiment_global = pd.read_csv(path_sentiment_global, parse_dates=['DateTime'])
sentiment_global = sentiment_global[['DateTime','Index']].rename(columns={'DateTime':'Date','Index':'sentiment_global_index'}).sort_values('Date')

sentiment_finance = pd.read_csv(path_sentiment_finance, parse_dates=['DateTime'])
sentiment_finance = sentiment_finance[['DateTime','Index']].rename(columns={'DateTime':'Date','Index':'sentiment_finance_index'}).sort_values('Date')

stock_index = pd.read_csv(path_stock_index, parse_dates=['Date Value']).rename(columns={'Date Value':'Date'})
stock_index = stock_index.pivot_table(index=['Date'], columns='Description', values='Value').reset_index()

price_commodity = pd.read_csv(path_price_commodity, parse_dates=['Date Value']).rename(columns={'Date Value':'Date'})
price_commodity = price_commodity.pivot_table(index=['Date'], columns='Commodity And Exchange', values='Value').reset_index()

interest_rate = pd.read_csv(path_interest_rate, parse_dates=['Date Value']).rename(columns={'Date Value':'Date'})
interest_rate['indicator_region'] = interest_rate['Indicator'] + '_' + interest_rate['Region']
interest_rate = interest_rate.pivot_table(index=['Date','Period Value'], columns='indicator_region', values='Value').reset_index().rename(columns={'Period Value' : 'interest_rate_freq'})

inventory_outlook = pd.read_csv(path_inventory_outlook, parse_dates=['Date Value']).rename(columns={'Date Value':'Date'})
inventory_outlook['sector_unit'] = inventory_outlook['Sub-Sector Level 3'] + '_' + inventory_outlook['Unit']
inventory_outlook = inventory_outlook.pivot_table(index=['Date'], columns='sector_unit', values='Value').reset_index()

jodi_demand = pd.read_csv(path_jodi_demand, parse_dates=['Date Value']).rename(columns={'Date Value':'Date'})
# jodi_demand['indicator'] = 'JODI_demand_' + jodi_demand['Country']
# jodi_demand = jodi_demand.pivot_table(index=['Date','Period Value'], columns='indicator', values='Value').reset_index().rename(columns={'Period Value' : 'jodi_demand_freq'})
jodi_demand = jodi_demand.groupby(['Date'])['Value'].agg('sum').reset_index().rename(columns={'Value':'jodi_demand'})
jodi_demand

mobility_apple = pd.read_csv(path_mobility_apple, parse_dates=['Date Value']).rename(columns={'Date Value':'Date'})
# mobility_apple['indicator'] = mobility_apple['Transportation Type'] + '_' + mobility_apple['Country'] + '_' + mobility_apple['Region']
mobility_apple = mobility_apple.groupby(['Date','Transportation Type'])['Value'].agg('mean').reset_index()
mobility_apple = mobility_apple.pivot_table(index=['Date'], columns='Transportation Type', values='Value').reset_index()

mobility_google = pd.read_csv(path_mobility_google, parse_dates=['Date Value']).rename(columns={'Date Value':'Date'})
mobility_google = mobility_google.groupby(['Date','Indicator'])['Value'].agg('mean').reset_index()
mobility_google = mobility_google.pivot_table(index=['Date'], columns='Indicator', values='Value').reset_index()
# mobility_google['indicator'] = mobility_google['Indicator'] + '_' + mobility_google['Sub Region 1'] + '_' + mobility_google['Sub Region 2']
# mobility_google = mobility_google.pivot_table(index=['Date'], columns='indicator', values='Value').reset_index()

In [6]:
# merge data
data = pd.merge(data, stock, on = ['Date'], how='left')
data = pd.merge(data, sentiment_global, on = ['Date'], how='left')
data = pd.merge(data, sentiment_finance, on = ['Date'], how='left')
data = pd.merge(data, stock_index, on = ['Date'], how='left')
data = pd.merge(data, price_commodity, on = ['Date'], how='left')
data = pd.merge(data, interest_rate, on = ['Date'], how='left')
data = pd.merge(data, inventory_outlook, on = ['Date'], how='left')
data = pd.merge(data, jodi_demand, on = ['Date'], how='left')
data = pd.merge(data, mobility_apple, on = ['Date'], how='left')
data = pd.merge(data, mobility_google, on = ['Date'], how='left')
data.head(5)

,Date,stock_closing_usd,sentiment_global_index,sentiment_finance_index,DOW JONES COMPOSITE AVERAGE,DOW JONES INDUSTRIAL AVERAGE,DOW JONES TRANSPORTATION AVERAGE,DOW JONES UTILITY AVERAGE,S&P 500,ICE BRENT CRUDE OIL FUTURES,...,jodi_demand,DRIVING,TRANSIT,WALKING,GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE,PARKS PERCENT CHANGE FROM BASELINE,RESIDENTIAL PERCENT CHANGE FROM BASELINE,RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE,TRANSIT STATIONS PERCENT CHANGE FROM BASELINE,WORKPLACES PERCENT CHANGE FROM BASELINE
0,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71692.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-04,69.15,NaN,NaN,NaN,1.82,NaN,NaN,NaN,80.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-05,69.42,NaN,NaN,NaN,1.82,NaN,NaN,NaN,80.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.to_csv('../data/data_2010_2021.csv', index=False)

In [9]:
jodi_demand

          Date  jodi_demand
0   2002-01-31     57820.69
1   2002-02-28     58492.45
2   2002-03-31     57324.90
3   2002-04-30     56688.98
4   2002-05-31     55667.86
5   2002-06-30     56364.20
6   2002-07-31     57830.44
7   2002-08-31     57525.21
8   2002-09-30     57274.55
9   2002-10-31     58027.12
10  2002-11-30     59954.64
11  2002-12-31     60940.21
12  2003-01-31     61101.07
13  2003-02-28     63362.00
14  2003-03-31     60436.83
15  2003-04-30     59508.08
16  2003-05-31     60816.68
17  2003-06-30     59961.82
18  2003-07-31     59625.16
19  2003-08-31     60209.60
20  2003-09-30     61286.84
21  2003-10-31     61802.56
22  2003-11-30     60827.42
23  2003-12-31     63735.48
24  2004-01-31     66609.44
25  2004-02-29     69088.74
26  2004-03-31     69541.85
27  2004-04-30     68146.08
28  2004-05-31     64620.71
29  2004-06-30     68586.32
..         ...          ...
193 2018-02-01     82446.91
194 2018-03-01     83032.13
195 2018-04-01     82689.11
196 2018-05-01     82068.18
197 2018-06-01     82567.66
198 2018-07-01     82820.46
199 2018-08-01     81375.42
200 2018-09-01     81182.43
201 2018-10-01     81892.99
202 2018-11-01     81804.38
203 2018-12-01     81106.00
204 2019-01-01     81028.07
205 2019-02-01     82031.23
206 2019-03-01     78583.01
207 2019-04-01     80802.78
208 2019-05-01     79922.20
209 2019-06-01     80104.36
210 2019-07-01     80036.33
211 2019-08-01     81020.83
212 2019-09-01     79410.05
213 2019-10-01     79679.51
214 2019-11-01     81773.64
215 2019-12-01     80404.64
216 2020-01-01     77815.13
217 2020-02-01     79329.94
218 2020-03-01     72545.42
219 2020-04-01     62145.54
220 2020-05-01     66051.37
221 2020-06-01     67418.26
222 2020-07-01     63413.35

[223 rows x 2 columns]

In [10]:
jodi_demand

          Date  jodi_demand
0   2002-01-31     57820.69
1   2002-02-28     58492.45
2   2002-03-31     57324.90
3   2002-04-30     56688.98
4   2002-05-31     55667.86
5   2002-06-30     56364.20
6   2002-07-31     57830.44
7   2002-08-31     57525.21
8   2002-09-30     57274.55
9   2002-10-31     58027.12
10  2002-11-30     59954.64
11  2002-12-31     60940.21
12  2003-01-31     61101.07
13  2003-02-28     63362.00
14  2003-03-31     60436.83
15  2003-04-30     59508.08
16  2003-05-31     60816.68
17  2003-06-30     59961.82
18  2003-07-31     59625.16
19  2003-08-31     60209.60
20  2003-09-30     61286.84
21  2003-10-31     61802.56
22  2003-11-30     60827.42
23  2003-12-31     63735.48
24  2004-01-31     66609.44
25  2004-02-29     69088.74
26  2004-03-31     69541.85
27  2004-04-30     68146.08
28  2004-05-31     64620.71
29  2004-06-30     68586.32
..         ...          ...
193 2018-02-01     82446.91
194 2018-03-01     83032.13
195 2018-04-01     82689.11
196 2018-05-01     82068.18
197 2018-06-01     82567.66
198 2018-07-01     82820.46
199 2018-08-01     81375.42
200 2018-09-01     81182.43
201 2018-10-01     81892.99
202 2018-11-01     81804.38
203 2018-12-01     81106.00
204 2019-01-01     81028.07
205 2019-02-01     82031.23
206 2019-03-01     78583.01
207 2019-04-01     80802.78
208 2019-05-01     79922.20
209 2019-06-01     80104.36
210 2019-07-01     80036.33
211 2019-08-01     81020.83
212 2019-09-01     79410.05
213 2019-10-01     79679.51
214 2019-11-01     81773.64
215 2019-12-01     80404.64
216 2020-01-01     77815.13
217 2020-02-01     79329.94
218 2020-03-01     72545.42
219 2020-04-01     62145.54
220 2020-05-01     66051.37
221 2020-06-01     67418.26
222 2020-07-01     63413.35

[223 rows x 2 columns]