In [47]:
import pandas as pd
import requests

In [48]:
selected_ticker = 'XOM'

In [49]:
data = pd.DataFrame(pd.date_range(start='2017-01-01', end='2021-02-28', closed=None), columns=['Date'])
print(data.shape)
data.head(5)

(1520, 1)

        Date
0 2017-01-01
1 2017-01-02
2 2017-01-03
3 2017-01-04
4 2017-01-05

In [59]:
stock_nyse = pd.read_csv('../full_dataset/stock_closing_nyse.csv', parse_dates=['Date Value'])
print(stock_nyse.shape)
display(stock_nyse.head(2))
# display(stock_nyse.describe())

stock = stock_nyse[stock_nyse.Ticker == selected_ticker][['Date Value','Value']].rename(columns={'Value':'stock_closing_usd'})

# merge data
data = pd.merge(data, stock, left_on = ['Date'], right_on = ['Date Value'], how='left')
data

(80489, 16)

,Sub-Sector,Super Region,Sector,Stock Attribute,Ticker,Currency,Time Level,Data Provider,Source,Stock Exchange,Stock Name,Location,Super Region.1,Value,Date Value,Period Value
0,GLOBAL STOCK EXCHANGE DATA,GLOBAL DATA,FINANCIAL MARKET,CLOSING PRICE,VLO,USD,DAILY,NEW YORK STOCK EXCHANGE,WORLDDATA.AI,NEW YORK STOCK EXCHANGE - STOCK PRICES,VALERO ENERGY CORPORATION,AMERICA-NEW_YORK,GLOBAL DATA,79.03,2021-03-05,d
1,GLOBAL STOCK EXCHANGE DATA,GLOBAL DATA,FINANCIAL MARKET,CLOSING PRICE,VLO,USD,DAILY,NEW YORK STOCK EXCHANGE,WORLDDATA.AI,NEW YORK STOCK EXCHANGE - STOCK PRICES,VALERO ENERGY CORPORATION,AMERICA-NEW_YORK,GLOBAL DATA,76.37,2021-03-04,d

           Date Date Value  stock_closing_usd
0    2017-01-01        NaT                NaN
1    2017-01-02        NaT                NaN
2    2017-01-03 2017-01-03              90.89
3    2017-01-04 2017-01-04              89.89
4    2017-01-05 2017-01-05              88.55
...         ...        ...                ...
1515 2021-02-24 2021-02-24              56.70
1516 2021-02-25 2021-02-25              55.76
1517 2021-02-26 2021-02-26              54.37
1518 2021-02-27        NaT                NaN
1519 2021-02-28        NaT                NaN

[1520 rows x 3 columns]

In [39]:
mobility_apple = pd.read_csv('../full_dataset/mobility_apple.csv').drop_duplicates()
print(mobility_apple.shape)
display(mobility_apple.sort_values('Date Value').head(5))
mobility_apple[mobility_apple['Date Value'] =='2020-01-13'].shape

(1951320, 15)

,Sub-Sector,Super Region,Sector,Frequency,Region,Country,Sub Region,Unit,Geography Type,Transportation Type,Source,Super Region.1,Value,Date Value,Period Value
1951319,APPLE MOBILITY INDEX,GLOBAL DATA,TRANSPORTATION,DAILY,TORONTO,CANADA,ONTARIO,INDEX,CITY,WALKING,"APPLE, INC.",GLOBAL DATA,100.0,2020-01-13,d
1258423,APPLE MOBILITY INDEX,GLOBAL DATA,TRANSPORTATION,DAILY,KENOSHA COUNTY,UNITED STATES,WISCONSIN,INDEX,COUNTY,DRIVING,"APPLE, INC.",GLOBAL DATA,100.0,2020-01-13,d
1258842,APPLE MOBILITY INDEX,GLOBAL DATA,TRANSPORTATION,DAILY,KENT COUNTY,UNITED STATES,MARYLAND,INDEX,COUNTY,DRIVING,"APPLE, INC.",GLOBAL DATA,100.0,2020-01-13,d
1259261,APPLE MOBILITY INDEX,GLOBAL DATA,TRANSPORTATION,DAILY,KENT COUNTY,UNITED STATES,MICHIGAN,INDEX,COUNTY,DRIVING,"APPLE, INC.",GLOBAL DATA,100.0,2020-01-13,d
1259680,APPLE MOBILITY INDEX,GLOBAL DATA,TRANSPORTATION,DAILY,BROWN COUNTY,UNITED STATES,OHIO,INDEX,COUNTY,DRIVING,"APPLE, INC.",GLOBAL DATA,100.0,2020-01-13,d

(4652, 15)

In [40]:
stock = stock_nyse[stock_nyse.Ticker == selected_ticker][['Date','Value']].rename(columns={'Value':'stock_closing_usd'})
news_sentiment = news_sentiment[['DateTime','Daily News Sentiment']]

data = pd.merge(data, stock, left_on = ['Date'], right_on = ['Date'], how='left')
data = pd.merge(data, news_sentiment, left_on = ['Date'], right_on = ['DateTime'], how='left')
data.sort_values(by='Date',ascending=True)

KeyError: "['Date'] not in index"